.header {
  background-color: #f8f8f8;
  display: flex;
  padding: 5px;
  padding-left: 15%;
  position: fixed;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  max-height: 70px;
  width: auto;
}

  @media (max-width: 1366px) {
    .logo-container img {
      max-height: 40px; /* Adjust max-height for larger screens */
    }
}

@media (max-width: 1024px) {
  .logo-container img {
    max-height: 28px; /* Adjust max-height for smaller screens */
  }
}
