/* Main.css */

.main {
  padding: 5%;
}
button {
  border-radius: 12px;
  background-color: #ffff00;
  font-weight: bold;
  color: black;
}

.section-1 {
  padding-top: 1%;
  margin-bottom: 30px;
}
.section-1:after {
  content: "";
  display: table;
  clear: both;
}
.section-heading-1 {
  /* justify-content: flex-start; */
  float: left;
  width: 50%;
  padding-left: 6%;
  padding-right: 5%;
}
.section-1 {
  background-color: #4a7828;
}
.card-container-1 {
  /* display: flex;
  justify-content: flex-end; */
  float: left;
  width: 30%;
  height: auto;
  padding: 1% 1% 1% 1%
}
.reserve-button {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
}
.section-2 {
  margin-bottom: 30px;
}

.section-heading-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 20%;
}
.card-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-container-2 .card {
  flex: 0 0 calc(33.33% - 20px); /* Adjust based on the number of cards you want per row */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: calc(33.33% - 20px); /* Adjust based on the number of cards you want per row */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}
.card-container-2 .card img {
  width: 100%;
  height: auto;
}
.card-container-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-container-3 .card {
  flex: 0 0 calc(25% - 20px); /* Adjust based on the number of cards you want per row */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: calc(25% - 20px); /* Adjust based on the number of cards you want per row */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.section-3 {
  margin-bottom: 30px;
}

.section-4 {
  margin-bottom: 30px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: calc(33.33% - 20px);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  text-align: center;
}
/*
.image-container {
  position: relative;
}

.image1 {
  position: absolute;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.section-description {
  margin-top: 20px;
}
*/
